.background-container-1 {
    background-image: url("../img/Plants.jpg");
    padding-top: 20px;
    margin: 0px;
}

.background-container-2 {
    background-image: url("../img/wallpaper2.jpg");
}

.custom-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 5px;
    background-image: none;
    background-color: white !important;
}


