body {
    background-image: url("https://storage.needpix.com/rsynced_images/plant-background-1522907595NpW.jpg");
}

div {
    padding: 20px;
}

.links, .link-div {
    padding: 0px;
}

a, a:hover {
    color: black;
    text-decoration: none;
}

button {
    background-color: white; 
    color: black;
    padding: 5px 5px 0px 5px;
    margin: 2px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid darkseagreen;
}

button:hover {
    border: 1px solid darkseagreen;
    background-color: darkseagreen;
    color: black;
}

.header {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 0 -5px;
    background-image: none;
    background-color: white;
}
.header:after {
    content: "";
    display: table;
    clear: both;
}
.header-img {
    float: left;
    width: 40%;
    text-align: right;
    float: left;
}
.header-column {
    float: right;
    text-align: left;
    width: 60%;
    padding: 0;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 20px;
    text-align: center;
    background-image: none;
    background-color: white;
}

.experience-column {
    padding: 0;
    width: 44%;
    float: right;
}

.column {
    float: left;
    width: 28%;
    padding: 0;
}

/* Remove extra left and right margins, due to padding in columns */
.row, .links {margin: 0 -5px;}
.links {
    width: 30%;
    float: left;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* One column layout on narrow screens */
@media screen and (max-width: 750px) {
    .column, .experience-column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}